POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=app_db

APP_PORT=3000

JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=1209600

AUTH_ACTIVE_APP_KEY_ID=app-key-active
AUTH_GOOGLE_ACCEPTED_ISSUERS=accounts.google.com,https://accounts.google.com
AUTH_GOOGLE_WEB_CLIENT_IDS=google-web-client-id
AUTH_GOOGLE_MOBILE_CLIENT_IDS=google-mobile-client-id
