POSTGRES_USER=mejengueros
POSTGRES_PASSWORD=mejengueros
POSTGRES_DB=mejengueros

APP_PORT=3000

JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=1209600

AUTH_ACTIVE_APP_KEY_ID=prod-key-2026-01
AUTH_GOOGLE_ACCEPTED_ISSUERS=accounts.google.com,https://accounts.google.com
AUTH_GOOGLE_WEB_CLIENT_IDS=CHANGE_ME_WEB_CLIENT_ID
AUTH_GOOGLE_MOBILE_CLIENT_IDS=CHANGE_ME_MOBILE_CLIENT_ID
